<div class="navbar bg-base-100 shadow-sm px-4 flex justify-between items-center">
  <!-- 左側：ロゴ -->
  <div class="flex-1">
    <%= link_to 'LocaMap', root_path, class: 'btn btn-ghost normal-case text-xl' %>
  </div>

  <!-- 右側：条件分岐による動的ナビ -->
  <div class="flex-none">
    <% elsif user_signed_in? %>
      <!-- ログイン後 -->
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to '新規投稿', '#', class: 'btn btn-ghost' %></li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path,
                      class: 'btn btn-outline ml-2',
                      data: { turbo_method: :delete } %>
        </li>
      </ul>

    <% else %>
      <%= render 'layouts/before_login_header' %>
    <% end %>
  </div>
</div>
